.page-margin {
	margin: -9% 5% 0 5%;
}

.rectangle {
	width: 2.5rem;
	height: 0.8rem;
	background-color: #000000;
	border-radius: 40px;
	margin-left: 0.5rem;
}
.App {
	position: relative;
	z-index: 1;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70vh;
}

.main > h1 {
	text-align: center;
	font-size: 3rem;
	line-height: normal;
}
.main > label {
	background-color: #d9d9d9;
	border-radius: 40px;
	padding: 0.5rem 2rem;
	font-weight: 600;
	cursor: pointer;
	font-size: 0.8rem;
}
.main > label:hover {
	transition: all ease-in-out 300ms;
	box-shadow: #00000025 0px 0px 10px 0px;
}
.main > input {
	display: none;
}
.fun-fact {
	width: 30%;
	text-align: center;
	font-size: 0.7rem;
	transition: all ease-in-out 5s;
}

.slider {
	position: absolute;
	/* position: absolute; */
	transform: rotate(35deg);
}

.slider-top {
	top: -3rem;
	right: -15rem;
}
.slider-bottom {
	bottom: -3rem;
	left: -15rem;
}

.slider-image {
	width: 8rem;
	height: 10rem;
	border-radius: 20px;
}

@media screen and (max-width: 768px) {
	.page-margin {
		margin: -27% 5% 0 5%;
	}
	.main > h1 {
		font-size: 2rem;
	}
	.fun-fact {
		width: 90%;
	}
	.slider-top {
		top: 1rem;
		right: -7.5rem;
	}
	.slider-bottom {
		bottom: 1rem;
		left: -5.5rem;
	}
	.slider-image {
		width: 5rem;
		height: 7rem;
	}
}
